*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

.app{
  background-image: url('./assets/cold-bg.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out
}

main{
  min-height: 100vh;
}

.app.warm{
  background-image: url('./assets/warm-bg.jpeg');
}