*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
  background-color:rgba(0, 0, 0, 0.9)
}

.app{
  background-image: url('./assets/cold-bg-1.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out
}

.app.warm{
  background-image: url('./assets/warm-bg.png');
  transition: 0.4s ease-in-out
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;

}



.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 1px 3px rgba(0,0,0,0.2);

  color: rgb(160, 158, 158);
  font-size: 20px;

  transition: 0.6s ease;
}

.search-box .search-bar:focus{
  /* background-color: rgba(255, 255, 255, 0.75); */
  color: rgb(240, 236, 236);
  transition: 0.6s ease;
}

.location-box .location{
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}


.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}


.weather-box .weather {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.data-container{
  background-color: rgba(50, 50, 70, 0.5);
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}

.temp-2{
  font-weight: bold;
  color: #FFF;
  margin-top: 5px;
  font-size: 20px;
}

.temp-size{
  font-size: 55px;
}
.container-inside{
  padding: 3em;
}

@media screen and (max-width: 750px) {
  .data-container{
    width: 90%;
  }
}

@media screen and (max-width: 481px) {
  .data-container{
    width: 100%;
    margin-top: 10vh;
  }
  .location-box .location{
    font-size: 35px;
  }
  .location-box .date{
    font-size: 17px;
  }
}