@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins','Montserrat', sans-serif !important;
  background-color:rgba(0, 0, 0, 0.9)
}

.logo{
  color: #FFF;
  font-weight: 300;
}

.developer{
  color: #98aaa6ac;
  font-style: italic;
  font-weight: 400;
}

.developer a {
  text-decoration: underline;
  color: #98AAA6;
  font-style: italic;
  font-weight: 400;
}

.header{
  display: flex;
  justify-content: space-between;
}

.titleText{
  color: white;
  font-size: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
  font-weight: normal;
}
.paragraphText{
  color: white;
  font-size: 18px;
  padding-bottom: 50px;
  margin-top: 20px;
  font-weight: lighter;
}
.threedIllustration{
  width: 30%;
  height: auto;
  margin-top: 2px;
}

.app{
  /* background-image: url('./assets/cold-bg-1.png'); */
  background-image: url('https://res.cloudinary.com/dckwf6med/image/upload/v1664487598/Web%20Dev%20Projects/courjault-maxime-FoA5vBqQoA-unsplash-1_cc7f8w.webp');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out
}

.app.warm{
  background-image: url('./assets/warm-bg.png');
  transition: 0.4s ease-in-out
}

.app.cloudy{
  background-image: url('https://res.cloudinary.com/dckwf6med/image/upload/v1664455899/Web%20Dev%20Projects/image_40_3_ld0azf.png');
  transition: 0.4s ease-in-out;
  padding: 0;
  margin: 0;
}

.app.rain{
  background-image: url('https://res.cloudinary.com/dckwf6med/image/upload/v1664469842/Web%20Dev%20Projects/pexels-splitshire-1553-1-_1__igb2ma.webp');
  transition: 0.4s ease-in-out;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 25px;
}


.weather-data-overview{
  width: 100vw;
  height: 20vh;
  max-height: 280px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;
  margin: 0;
  background-color: #0173ff08;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  transition: 0.4s ease-in-out
}

.seperator{
  background-color: #ffffff58;
  width: 3px;
  height: 20vh;
  max-height: 330px;
  margin: 0px 50px;
}

.content-in-overview{
  margin: auto;
  display: flex;
  transition: 0.4s ease-in-out
}

.modal-header{
  color: #98AAA6;
  margin-top: 150px;
  font-size: 30px;
  text-align: left;
}

#info{
  color: #FFF;
  background-color: rgb(57, 57, 136);
  padding: 10px 40px;
  border-radius: 10px;
}

.mobile-box{
  margin-top: 50px;
}

.phone-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 70px;
  right: 70px;
  padding-bottom: 25px;
  margin: 0;
}

.phone-nav-button{
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 70px;
  right: 70px;
  padding-bottom: 50px;
  margin: 0;
}

.nav-icon img{
  height: 60%;
}

@media screen and (min-width: 1130px) {
  .phone-nav-button{
    display: none;
  }
}

.temp-main {
  position: relative;
  color: #C8E7E0;
  font-size: 102px;
  line-height: 0;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
}

.nav-button{
  text-align: center;
}

@media screen and (max-width: 1130px) {
  .content-in-overview{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .developed-mobile-margin{
    margin-top: 7px;
  }

  .content-in-overview2{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .seperator{
    display: none;
  }

  .temp-main {
    position: relative;
    color: #C8E7E0;
    font-size: 60px;
    line-height: 0;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
  }

  .margin-title-2{
    margin-bottom: 15px;
  }

  .weather-data-overview{
    display: none;
  }
  
}



.weather-data-overview2{
  width: 100vw;
  height: 20vh;
  max-height: 280px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;
  margin: 0;
  background-color: #0173ff08;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  transition: 0.4s ease-in-out
}


.center-location-box{
  position: absolute;
  top: 48%; right: 50%;
  transform: translate(50%,-50%);
}

.box-1-overview{
  display: flex;
  align-items: center;
  gap: 40px;
}

.box-titles{
  color: #FFFFFF;
  font-weight: 400;
font-size: 15px;
line-height: 7px;
letter-spacing: 0em;
text-align: left;

}


.box-data-p{
  color: #C8E7E0;
  font-weight: 600;
font-size: 25px;
line-height: 57px;
letter-spacing: 0em;
text-align: left;

}

.box-titles-modal{
  color: #FFFFFF;
  font-weight: 400;
font-size: 15px;
line-height: 7px;
letter-spacing: 0em;
text-align: left;

}

.box-data-p-mobile{
  color: #C8E7E0;
  font-weight: 600;
font-size: 15px;
line-height: 57px;
letter-spacing: 0em;
text-align: left;
}

.search-box-main .search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  appearance: none;
  background: none;
  outline: none;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 16px;
  margin-top: 5px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(160, 158, 158);
  font-size: 20px;
  transition: 0.6s ease;
}




.search-box{
  width: 100%;
  margin: 0 0 75px;

}



.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 1px 3px rgba(0,0,0,0.2);

  color: rgb(160, 158, 158);
  font-size: 20px;

  transition: 0.6s ease;
}

.search-box .search-bar:focus{
  /* background-color: rgba(255, 255, 255, 0.75); */
  color: rgb(240, 236, 236);
  transition: 0.6s ease;
}

.location-box .location{
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}


.weather-box {
  text-align: center;
}

/* .weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
} */


.weather-box .weather {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather2 {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.margin-title-2{
  padding-bottom: 25px;
}

.data-container{
  /* background-color: rgba(50, 50, 70, 0.5); */
  width: 50%;
  text-align: center;
  margin: auto;
  /* margin-top: 10%; */
  border-radius: 10px;
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */

}

.temp-2{
  font-weight: bold;
  color: #FFF;
  margin-top: 5px;
  font-size: 20px;
}

.temp-size{
  font-size: 55px;
}
.container-inside{
  padding: 3em;
}


@media screen and (max-width: 750px) {
  .data-container{
    width: 90%;
  }
}

@media screen and (max-width: 481px) {
  .data-container{
    width: 100%;
    margin-top: 10vh;
  }
  .location-box .location{
    font-size: 35px;
  }
  .location-box .date{
    font-size: 16px;
  }

  .box-data-p{
    color: #C8E7E0;
    font-weight: 600;
  font-size: 15px;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  
  }
}





/* [Object] Modal
 * =============================== */
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #20231F;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
